/* react-pdf-overrides.css */
.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

.react-pdf__Page {
  position: relative;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
